/* color plate code is here
000000 black
14213D nav blue
FCA311 warning color
E5E5E5 dark brown
FFFFFF white color
*/

* {
    font-family: sans-serif;
}

.nav_bar li a {
    font-weight: bold;
    margin-left: 40px;
    color: black;

}

.nav_bar li a:hover {
    color: blue;
}

.icon i {
    font-size: 20px;

}

/* ------slider is here --------- */

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #f9f9f8;
    border: 0px solid red;
}

.dp-wrap {
    margin: 50px auto;
    position: relative;
    perspective: 1000px;
    height: 100%;
}

.dp-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.dp-slider div {
    transform-style: preserve-3d;
}

.dp_item {
    display: block;
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: transform 1.2s;
}

.dp-img img {
    border-left: 1px solid #fff;
}

#dp-slider .dp_item:first-child {
    z-index: 10 !important;
    transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateY(0deg) translateX(10%) scale(0.9);
}

.dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateY(0deg) translateX(20%) scale(0.8);
}

.dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateY(0deg) translateX(30%) scale(0.7);
}

#dp-next,
#dp-prev {
    position: absolute;
    top: 50%;
    right: 16%;
    height: 33px;
    width: 33px;
    z-index: 10;
    cursor: pointer;
}

#dp-prev {
    left: 15px;
    transform: rotate(180deg);
}

#dp-dots {
    position: absolute;
    bottom: 25px;
    z-index: 12;
    left: 38%;
    cursor: default;
}

#dp-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
}

#dp-dots li:hover {
    cursor: pointer;
    background: goldenrod;
    transition: background 0.3s;
}

#dp-dots li.active {
    background: goldenrod;
}

.dp_item {
    width: 85%;
}

.dp-content,
.dp-img {
    text-align: left;
}

.dp_item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border-top: none;
}

.dp-content {
    padding-left: 100px;
    padding-right: 0;
    display: inline-block;
    width: 100%;
}

.dp-content h2 {
    color: #41414b;
    font-family: Circular Std Bold;
    font-size: 48px;
    max-width: 460px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.dp-content p {
    color: #74747f;
    max-width: 490px;
    margin-top: 15px;
    font-size: 24px;
}

.dp-content .site-btn {
    margin-top: 15px;
    font-size: 18px;
    padding: 19px 40px;
}

.dp-img:before {
    background: -webkit-linear-gradient(-90deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0));
    background: -o-linear-gradient(-90deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(-90deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0));
    background: linear-gradient(-90deg,
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0));
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    z-index: 1;
    top: 0;
    pointer-events: none;
    background: -webkit-linear-gradient(-90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.75));
    background: -o-linear-gradient(-90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.75));
    background: -moz-linear-gradient(-90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.75));
    background: linear-gradient(-90deg,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255));
}

.dp-img img {
    object-fit: cover;
    object-position: 75% 50%;
}

#dp-slider,
.dp-img img {
    height: 738px;
}

#dp-slider .dp_item:hover:not(:first-child) {
    cursor: pointer;
}

.site-btn {
    color: #fff;
    font-size: 18px;
    font-family: "Circular Std Medium";
    background: #FCA311;
    padding: 14px 33px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    top: -10px;
    text-decoration: none;
}

.site-btn:hover {
    text-decoration: none;
    color: #fff;
}

.hedaer {
    width: 1800px;
    margin: auto;
}

.middle_sec {
    position: relative;
}

.middle_woman {
    position: absolute;
    top: 0px;
    left: 30px;
}

.hovereffect {

    border: 0px solid red;
}

.hovereffect:hover {
    border: 0px solid black;
}

.middle_nav ul li a {
    color: black;
}

.middle_nav ul li a:hover {
    border-bottom: 3px solid blue;
}

.middle_img_part {
    width: 100%;
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
}

.middle_img_part:hover {
    transform: scale(1.2);
}

.middle_hidden {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

}

.middle_hidden img {
    width: 100%;
    height: 250px;
    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px 15px 0px 0px;
}

.main_middle:hover {
    border: 0px solid black
}

.main_in_middle {
    width: auto;
    height: 500px;
    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.foter_ul li {
    list-style: none;
    border: 0px solid red;
}

.form_search {
    background-color: #23242a;
    border: 1px solid white;
    color: white;
}


/* new css is here  */
.nav_padding {
    border: 0px solid red;
    padding-left: 3rem;
    margin-top: -13px;
}

.nav_padding ul li {
    padding-left: 4rem;
}

.icon a {
    color: black;
}

.icon {
    margin-top: -13px;
}

.mobile_slider {
    display: none;
    border: 0px solid red;
}

.content_section {
    border: 0px solid red;
    position: relative;
    top: 20px;
    left: -10px;
    width: 50%;
    color: black;
}

.button_part {
    background-color: rgb(9, 234, 238);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}

.product_overview {
    display: block;

}

.product_overview_nav {
    display: none;
}

.header_color {
    background-color: #f9f9f8;
}

/* back to top button is here */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 30px;
}

/* ----------back to top is closed here --------- */
.new_svg {
    background: url(image/new.gif) no-repeat;
    border: 0px solid red;
    padding-left: 100px;
    width: 00px;
    height: 15px;
    position: absolute;
}

.teamdata {
    position: relative;
}

.firstslide {
    margin-top: -30px;
}


@media only screen and (max-width: 900px) and (min-width: 200px) {
    .nav_padding {
        padding-left: 0rem;
    }

    .nav_padding ul li {
        padding-left: 0rem;
    }

    .head_icon {
        display: none;
    }

    .header_section {
        border: 5px solid red;
    }

    .mobile_slider {
        display: block;
    }

    .product_overview {
        display: none;

    }

    .product_overview_nav {
        display: block;
    }

    .firstslide {
        margin-top: 0px;
    }

    .company_daat {
        padding-top: 20px;
    }

    .icon_li {
        display: none;
        border: 0px solid red;
    }
    .middle_feature{
        width: 60%;
        height: 1800px !important;
        background-color: #FCA311;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 0px solid red;
        
    }
    .sign1{
       padding-left: -15px !important; 
    }
    .oneflatform{
        font-size: 2rem !important;
    }
    .team-images{
    width: 100px !important;
    height: 100px !important;
    border: 2px solid #14213D;
    position: absolute;
    top: -50px !important;
    left: 100px !important;
    border-radius: 50%;
    background: url(https://avatars.githubusercontent.com/u/67285213?v=4);
    background-size: cover;
    }
    .btn_footer_started {
        padding: 15px 10px 15px 10px !important;
        background-color: #FCA311;
        color: #14213D;
        font-weight: bold;
        font-size: 20px;
        margin-left: -32px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
    }
    .btn_footer_started:hover{
        border: 0px solid red;
        padding: 15px 10px 15px 10px !important ;
        background-color: #FCA311 !important;
        color: #14213D;
        font-weight: bold;
        font-size: 20px;
        margin-left: -32px;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
    }
    .team_card{
        left: -50px;
        top: 50px;
    }
    .jodh-location{
        display: none;
        color: #FCA311;
    }
    .teamlo{
        color: #FCA311;
    }
}

/* -----back to top code is here ------------------ */
.step {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid #09020f;
    border-radius: 100%;
    background: #f5f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.step span {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
}

.step::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: #FCA311;
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
    border-radius: 100%;
}
.btn-warning{
    background-color: #FCA311 !important;
    border: 0px solid #14213D;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(2, 2, 1);
    }
}

/* -----back to top is closed here ------------ */
/* --------dark mode is here ---------------- */

.dark-mode {
    background-color: rgb(1, 1, 1);
    color: white;
}

.dark-mode .header_color{
    background-color: rgb(1, 1, 1);
    color: white;
}
.dark-mode .radiance {
    background-color: rgb(1, 1, 1);
    color: white;
}
.dark-mode .nav-link{
    background-color: rgb(1, 1, 1);
    color: white !important;
} 
.dark-mode #sun_bright{
    color: white !important;  
}
.dark-mode #search i{
    color: white !important;  
}
.dark-mode #heart i{
    color: white !important;  
}
.dark-mode #bounding i{
    color: white !important;  
}
/* -------index page is over now dark mode ------------- */
.dark-mode .fetature_expect{
    /* color: #FCA311; */
    color: white;
}
.dark-mode .fetature_expect2{
    color: white;
}
.dark-mode .key_features{
    color: #FCA311;
}
.dark-mode .data_driven{
    color: #14213D;
}
.dark-mode .Productlaptop{
    color: white;
}
.dark-mode .sign1:before{
    background: #FCA311;
    border: 2px solid white;
}
.dark-mode .fetature_expect_about{
    color: #FCA311;
}
.dark-mode .oneflatform{
    color: #FCA311;
}
.dark-mode .platform{
    color: white;
}
.dark-mode .platform{
    color: white;
}
.dark-mode .Appoinments_card{
    color: white;
}
.dark-mode .Appoinments_card:hover{
    color: #FCA311;
}
.dark-mode .sales-contact{
    color: #14213D;
}
.dark-mode .sales_content{
    color: #14213D;
}
.dark-mode .slider_part{
    width: 100%;
    border: 1px solid rgb(122, 115, 115);
    margin: auto;
    box-shadow: rgba(253, 253, 253, 0) 0px 3px 8px;
    border-radius: 10px;
}
.dark-mode .slider_part1{
    border-right: 1px solid #ffffff;
}







/* -----dark mode is closed here -------- */
/* ----new footer css is here -------------- */
.footer_start {
    font-size: 60px;
    line-height: 5rem;
    font-family: sans-serif;
}

.btn_footer_started {
    padding: 15px 10px 15px 10px;
    background-color: #FCA311;
    color: #14213D;
    font-weight: bold;
    font-size: 20px;
    margin-left: -32px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
.btn_footer_started:hover{
    border: 0px solid red;
    padding: 15px 10px 15px 10px;
    background-color: #FCA311;
    color: #14213D;
    font-weight: bold;
    font-size: 20px;
    margin-left: -32px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}


.footer_from {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}

.site_foot {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
}

.site_foot a {
    text-decoration: none;
    color: white;
}

.shop_ftt a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding-top: 15px;
    border: 0px solid red;
    position: relative;
    top: 5px;
}

.icon_footer:hover {
    color: #FCA311;

}

.shop_ftt img {
    width: 30px;
    height: 40px;
}

.shop_ftt_email a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding-top: 15px;
    border: 0px solid red;
    position: relative;
    top: 5px;
    left: 33px;
}

.find_store {
    background-color: #FCA311;
    color: #14213D;
    padding: 15px 40px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.nav_foot_border {
    border-top: 1px solid lightcyan;
}

.goog-te-gadget {
    font-size: 20px !important;
}

.goog-te-combo,
.VIpgJd-ZVi9od-ORHb *,
.VIpgJd-ZVi9od-SmfZ *,
.VIpgJd-ZVi9od-xl07Ob *,
.VIpgJd-ZVi9od-vH1Gmf *,
.VIpgJd-ZVi9od-l9xktf * {
    font-family: arial;
    font-size: 22pt !important;
}

/* ----------new footer css is closed ----------------- */
.nsti img {
    border-top: none;
    position: relative;
    top: -10px;
}

.product_feature {
    width: 100%;
    height: 500px;
    border: 0px solid red;
    object-fit: cover;
    border-radius: 10px;

}

.fetsec {
    border: 0px solid red;
    position: relative;
}

.fetature_expect {
    font-weight: 500;
    color: #14213D;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
}

.fetature_expect2 {
    width: 90%;
    margin: auto;
    text-align: center;
    text-align: justify;
    font-size: 25px;
    color: #958c8c;
    padding-top: 15px;
}

.sign1 {
    font-family: sans-serif;
    display: inline-block;
    width: 170px;
    height: 50px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid #14213D;
    transition: color 0.5s;
    z-index: 1;
    font-size: 19px;
    border-radius: 6px;
    font-weight: 500;
    color: #14213D;
    margin-left: 115px;
    background-color: #ffffff;
    cursor: pointer;

}

.sign1:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 120px;
    background-color: #14213D;
    width: 300px;
    border-radius: 50%;
    color: #ffffff;
    
}

.sign1:hover {
    color: #fff;

}

.sign1:before {
    top: 100%;
    left: 100%;
    transition: all 0.5s;
}

.sign1:hover:before {
    top: -30px;
    left: -30px;
}
.key_features{
    color: #14213D;
    font-size: 45px;
    font-family: sans-serif;
}
.key_features2{
    width: 15%;
    height: 15%;
    background-color: #FCA311;
    text-align: center;
    border: 2px solid #FCA311;
    margin: auto;
}
.middle_feature{
    width: 60%;
    height: 600px;
    background-color: #FCA311;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px solid red;
    
}
.fet_card_position{
    position:relative;
}
.custom_data{
    position: absolute;
    top: 70px;
}
.web_design{
    color: #14213D;
    font-size: 30px;
    font-weight: 500;
}
.data_driven{
    text-align: justify;
}
.padding_part{
    padding: 35px;
    border: 0px solid #14213D !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.fet_card{
    border: 5px solid #14213D;
}
.Productlaptop{
    color: #14213D;
    font-size: 50px;
    line-height: 50px;
}
.Productlaptop2{
    font-size: 20px;
    text-align: justify;
}
.fetature_expect_about{
    font-weight: 500;
    color: #14213D;
    font-size: 60px;
    line-height: 80px;
    text-align: center; 
    position: relative; 
}
.about_img1{
    width: 50%;
    position: absolute;
    left: 95px;
    top: 20px;
    z-index: -1;

}
.app_about{
    border: 0px solid red;
    padding-left: 30px;
    font-weight: 400 !important;
}
.form_about_top{
    border: none;
    background: #E5E5E5 !important;
    border-radius: 54px !important;
    width: calc(100% - 100px);
    height: 100%;
    font-size: 18px;
    padding: 30px 50px;
    border: 0px solid red;
}
.form_btn_about{
    background: #E5E5E5;
    border-radius: 40%;
    position: relative;
    padding: 10px 18px 10px 18px;
    left: -100px;   
}
.about_already{
    color: #989494;
    padding-top: 30px;
}
.about_sign{
    color: #14213D;
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.oneflatform{
    width: 100%;
    margin: auto;
    color: #14213D;
    font-weight: bold;
    font-size: 5rem;
    
}
.about_img_platfrom{
    width: 100%;
    position: absolute;
    left: -10px;
    top: 20px;
    z-index: -1;
}
.platform{
    position: relative;
    text-decoration: none;
    color: #14213D;
}
.platform_card{
    width: 80%;
    margin: auto;
}
.card_hover:hover{
    text-align: center;
    background: #fff;
    /* padding: 5px 5px; */
    margin-top: 0px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.Appoinments_card h1{
    color: #14213D;
    font-size: 35px;
}
.Appoinments_card2{
    color: #807c7c;
    font-size: 20px;
}
.appitment_data{
    width: 10vh;
}
.radianece_color_hedaer{
    color: #FCA311;
}
.let_chat{
    border: 1px solid #14213D;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    color: #FCA311;
    font-size: 21px;
    font-weight: 600;
    border-radius: 10px;
}

.let_chat:hover{
    background: #14213D;
    color: white;
}
.sales{
    position: relative;  
}
.borderdata{
    border-left: 4px solid #FCA311;
    height: 3.725rem;
     position: absolute;
     top: 20px;
    
}
.borderdata1{
    border-left: 4px solid #14213D;
    height: 3.725rem;
     position: absolute;
     top: 20px;
    
}
.borderdata2{
    border-left: 4px solid #919593;
    height: 3.725rem;
     position: absolute;
     top: 20px;
    
}
.borderdata3{
    border-left: 4px solid #FCA311;
    height: 3.725rem;
     position: absolute;
     top: 20px;
    
}
.slider_part{
    width: 100%;
    border: 0px solid red;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.slider_part1{
    border-right: 4px solid #ffffff;
}
.contactfrom_part{
    width: 90%;
    margin: auto;
}
.firstname{
    
    border-bottom: 3px solid #14213D  !important;
}
 .form-control{
     background-color: #F9F9F8; 
     border-radius: 0rem;  
} 

.no-border:hover {
    border: 0;
    box-shadow: none; 
    background-color: #F9F9F8;
}
.no-border {
    border: 0;
    box-shadow: none; 
    background-color: #F9F9F8;
}

/* slider css is here */
.icon_heart a {
    color: black;
    border: 1px solid black;
}

.icon_heart {
    margin-top: -13px;
}
.icon_heart i {
    font-size: 20px;
    cursor: pointer;
    
}
.icon_heart>i.red{
    color: red; 
  
}



.team_card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    border: 0px solid red;
    border-radius: 150px 0px 150px 0px;
    position: relative;
    border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2),var(--c3), var(--c1) 0.1turn, var(--c1), 0.15turn,var(--c3) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #FCA311;
	--c2: #26375c;
    --c3:#E5E5E5;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
        /* border-radius: 500px; */
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}







.team_card1{
    width: 90%;
    margin: auto;
}
.team-images{
    width: 200px;
    height: 200px;
    border: 2px solid #14213D;
    position: absolute;
    top: -120px;
    left: 130px;
    border-radius: 50%;
    background: url(https://avatars.githubusercontent.com/u/67285213?v=4);
    background-size: cover;
}
.jodh-location{
    font-size: 28px;
}

.profile-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile-card-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 300px;
    height: 60px;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    transition: all .2s ease-in-out;
}

.profile-card-button:hover {
    transform: scale(1.1);
}


.profile-card-button span {
    position: absolute;
    z-index: 99;
    width: 300px;
    height: 60px;
    border-radius: 80px;
    font-size: 23px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #14213D;
    background-color: #FCA311;
    padding: 0 18px;
    transition: all 1.2s ease;
}

.profile-card-button:hover span {
    transform: translateX(-300px);
    transition-delay: .15s;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 64px;
    border-radius: 80px;
}

.social-icons>i {
    opacity: 0;
    font-size: 24px;
    transform: scale(.1);
    transition: all .3s ease;
}
.profile-card-button:hover i {
    opacity: 1;
    transform: scale(1);
}

.profile-card-button:hover i:hover {
    font-size: 28px;
    color: #0078d7;
    transition: font-size .2s;
}

.social-icons>i:nth-of-type(5) {
    transition-property: opacity, transform;
    transition-delay: .4s;
}

.social-icons>i:nth-of-type(4) {
    transition-property: opacity, transform;
    transition-delay: .5s;
}

.social-icons>i:nth-of-type(3) {
    transition-property: opacity, transform;
    transition-delay: .6s;
}

.social-icons>i:nth-of-type(2) {
    transition-property: opacity, transform;
    transition-delay: .7s;
}

.social-icons>i:nth-of-type(1) {
    transition-property: opacity, transform;
    transition-delay: .8s;
}